<%- include ('../layouts/mainLayout') %>
<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
        <div class="container-fluid p-5 bg-primary text-white text-center">
            <h1>We are help you to find your suitable job </h1>
            <p>trusted since 2001</p> 
        </div>

  
   

  <!-- new section -->

        <div class="w3-row w3-container">
              <div class="w3-center w3-padding-64">
              <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
          </div>
          <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
             <h3>Work-Space</h3>
             <p>We provide the best working enviroment on our campus with nature.</p>
          </div>

          <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
              <h3>Session</h3>
              <p>We provide to the our employee various session regarding to the healthy mind.</p>
          </div>

          <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
             <h3>Health-Benifit</h3>
             <p>We offer the Health-Benifit to our employee like free 5 lakhs of health insurense.</p>
         </div>

         <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
              <h3>Sevices</h3>
              <p>we are on PAN india.everyone enjoy our service around the globe. as well as the our service</p>
         </div>
        </div>

        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
            <p>Jobportal.com is the most innovative and second largest online job portal in India. Founded in 2022, over the past decade, Jobportal.com has become a prominent name in the recruitment industry. The popularity of the portal is evident from the fact that it has crossed the 100+ candidate landmark and has more than 3 lakh latest job vacancies from leading companies on the site.
            </p>
          </div>
          <!-- <div class="w3-container w3-padding-32" id="contact">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
            <p>Lets get in touch and talk about your next project.</p>
            <form action="/action_page.php" target="_blank">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
              <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
              <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
              <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
              <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
              </button>
            </form>
          </div> -->

        </body>
        <footer class="w3-padding-32 w3-black w3-center w3-margin-top">
            <h5>Find Us On</h5>
            <div class="w3-xlarge w3-padding-16">
             <i><a href="https://www.facebook.com" class="fa fa-facebook-official w3-hover-opacity"></a></i>
              <i><a href="https://www.instagram.com/" class="fa fa-instagram w3-hover-opacity"></a></i>
              <i class="fa fa-snapchat w3-hover-opacity"></i>
              <i class="fa fa-pinterest-p w3-hover-opacity"></i>
              <i class="fa fa-twitter w3-hover-opacity"></i>
              <i class="fa fa-linkedin w3-hover-opacity"></i>
              <h3>
                <p class="text-center footercls">&copy; Copyright <%=new Date().getFullYear()%></p>
            </h3>
            </div>
          </footer>
</html>
