<%- include ('../layouts/mainLayout') %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
          .card{
              margin-left: 0.1px;
          }
          </style>
    </head>

    <body>

        <div class="content-wrapper">
            <div class="container">
                <div class="profile_sec mt-10">
                    <div class="formheadercls">
                        <span class="headercls">
                            Welcome <%=user_info.full_name%>
                        </span>
                    </div>


                    <!-- Find job -->
                    <div class="container-fluid p-5 bg-primary text-white text-center">
                      <h1>Find Your Job</h1>
                      <p>trusted since 1998</p> 
                    </div>
                  <!-- find job end -->

                    <div>
                      <br>
                      <br>
                    </div>

                    <div class="container-fluid p-5 bg-light text-white text-center">
                    <div class="row">
                  <!-- 1st card     -->
                    <div class="col-sm-4 text-black">
                    <div class="card" style="width: 300px">
                      <img class="card-img-top" src="/images/image1.jpg" alt="Card image">
                      <div class="card-body">
                        <h4 class="card-title">Office Assistant</h4>
                        <p class="card-text">Reliance Life Insurance Company
                          <br>
                          Location:-Dumdum.
                          <br>
                          ₹ 10,500 - 20,000 monthly*
                          <br>
                          Freshers
                          <br>
                          Job-id: 1102
                        </p>
                        <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
                      </div>
                     </div>
                    </div>
                     <!-- 1st card end -->
                
                  <!-- 2nd card -->
                  <div class="col-sm-4 text-black">
                    <div class="card" style="width: 300px">
                      <img class="card-img-top" src="/images/image2.jpg" alt="Card image">
                      <div class="card-body">
                        <h4 class="card-title">Network administrator</h4>
                        <p class="card-text">Spreader Technology
                          <br>
                          Location:-Dumdum.
                          <br>
                          ₹ 20,500 - 55,000 monthly*
                          <br>
                          Freshers
                          <br>
                          Job-id: 1103
                        </p>
                        <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
                      </div>
                     </div>
                    </div>
                    
                    <!-- 2nd card end -->

                    <!-- 3rd card -->
                    <div class="col-sm-4 text-black">
                      <div class="card" style="width: 300px">
                        <img class="card-img-top" src="/images/image4.jpg" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">User designer</h4>
                          <p class="card-text">World Wide Apps
                            <br>
                            Location:-Dumdum.
                            <br>
                            ₹ 22,500 - 35,000 monthly*
                            <br>
                            Freshers
                            <br>
                            Job-id: 1104
                          </p>
                          <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
                        </div>
                       </div>
                      </div>
                      <!-- 3rd card end -->
      </div>
      <div>
        <br>
        <br>
      </div>

    
      <div class="row">
        <!-- 1st card     -->
          <div class="col-sm-4 text-black">
          <div class="card" style="width: 300px">
            <img class="card-img-top" src="/images/image5.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Systems analyst</h4>
              <p class="card-text">Amazing IT Center
                <br>
                Location:-Dumdum.
                <br>
                ₹ 40,500 - 55,000 monthly*
                <br>
                Freshers
                <br>
                Job-id: 1106
              </p>
              <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
            </div>
           </div>
          </div>
           <!-- 1st card end -->
      
        <!-- 2nd card -->
        <div class="col-sm-4 text-black">
          <div class="card" style="width: 300px">
            <img class="card-img-top" src="/images/image6.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Database administrator</h4>
              <p class="card-text">Vintage Solutions
                <br>
                Location:-Dumdum.
                <br>
                ₹ 10,500 - 55,000 monthly*
                <br>
                Freshers
                <br>
                Job-id: 1107
              </p>
              <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
            </div>
           </div>
          </div>
          
          <!-- 2nd card end -->

          <!-- 3rd card -->
          <div class="col-sm-4 text-black">
            <div class="card" style="width: 300px">
              <img class="card-img-top" src="/images/image3.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title"> Database administrator</h4>
                <p class="card-text">Guidance IT Center
                  <br>
                  Location:-Dumdum.
                  <br>
                  ₹ 30,500 - 55,000 monthly*
                  <br>
                  Freshers
                  <br>
                  Job-id: 1108
                </p>
                <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
              </div>
             </div>
            </div>
            <!-- 3rd card end -->
      </div>
      <div>
        <br>
        <br>
      </div>
      <div class="row">
        <!-- 1st card     -->
          <div class="col-sm-4 text-black">
          <div class="card" style="width: 300px">
            <img class="card-img-top" src="/images/image2.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Software packager</h4>
              <p class="card-text">Connected Lines
                <br>
                Location:-Dumdum.
                <br>
                ₹ 34,500 - 55,000 monthly*
                <br>
                Freshers
                <br>
                Job-id: 1109
              </p>
              <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
            </div>
           </div>
          </div>
           <!-- 1st card end -->
      
        <!-- 2nd card -->
        <div class="col-sm-4 text-black">
          <div class="card" style="width: 300px">
            <img class="card-img-top" src="/images/image1.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Full-stack developer</h4>
              <p class="card-text">Ascension Apps
                <br>
                Location:-Dumdum.
                <br>
                ₹ 10,500 - 55,000 monthly*
                <br>
                Freshers
                <br>
                Job-id: 1102
              </p>
              <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
            </div>
           </div>
          </div>
          
          <!-- 2nd card end -->

          <!-- 3rd card -->
          <div class="col-sm-4 text-black">
            <div class="card" style="width: 300px">
              <img class="card-img-top" src="/images/image6.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">software engineer</h4>
                <p class="card-text">Modern Transition
                  <br>
                  Location:-Dumdum.
                  <br>
                  ₹ 10,500 - 35,000 monthly*
                  <br>
                  Freshers
                  <br>
                  Job-id: 1012
                </p>
                <a href="/apply" class="btn btn-outline-primary">APPLY NOW</a>
              </div>
             </div>
            </div>
            <!-- 3rd card end -->
      </div>
      <div>
        <br>
        <br>
      </div>
      
      </div>
      <!-- Find job -->
      <!-- <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>About Us</h1> 
      </div>
     find job end -->
      <!-- <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-12 mx-auto">
          <p class="lead mb-4">
            Jobportal.com is the most innovative and second largest online job portal in India. Founded in 2022, over the past decade, Jobportal.com has become a prominent name in the recruitment industry. The popularity of the portal is evident from the fact that it has crossed the 100+ candidate landmark and has more than 3 lakh latest job vacancies from leading companies on the site.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          </div>
        </div> --> 

        <!-- Find job -->
      <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>We make carrier</h1> 
        <h2>Build your future with us</h2>
      </div>
    <!-- find job end -->
      <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-12 mx-auto">
          <p class="lead mb-4">
            We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          </div>
        </div>



      
                      </div>
                </div>
            </div>
        </div>
        <%- include ('../partials/footer') %>
    </body>

    </html>